/* ==UserStyle==
@name       ClearJAV: EnlargePosters
@version    1.5
@author     WirlyWirly
@namespace  https://github.com/WirlyWirly
@description Customize the displayed size of torrent posters!

@updateURL  https://raw.githubusercontent.com/WirlyWirly/UserScripts/main/Trackers/ClearJAV/EnlargePosters.user.css?raw=true
@homepageURL https://github.com/WirlyWirly/UserScripts/blob/main/Trackers/ClearJAV/EnlargePosters.user.css
@supportURL https://clearjav.com/forums/topics/134

@advanced number randomjav-height "RandomJAV: Table Height [Pixels]" [850]
@advanced dropdown randomjav-columns "RandomJAV: Table Columns" {
    Option3 "3" <<<EOT
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); EOT;
    Option2 "2" <<<EOT
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); EOT;
    Option1 "1" <<<EOT
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr); EOT;
}
@advanced dropdown randomjav-cover-size "RandomJAV: Cover Size" {
    Option1 "Contain" <<<EOT
    contain EOT;
    Option2 "Cover" <<<EOT
    cover EOT;
}
@advanced number randomjav-font-size "RandomJAV: Font Size [Point]" 10
@advanced color randomjav-bg-color "RandomJAV: Table Background Color" #000000
@advanced number randomjav-opacity "RandomJAV: Cover Opacity [Percentile]" [100,0,100]

@advanced number torrents-hover-size "Torrents: Hover Cover Max-Size [Pixels]" [600]
@advanced number torrents-hover-x-offset "Torrents: Hover Cover X-Offset [Percentile]" [30]
@advanced number torrents-hover-y-offset "Torrents: Hover Cover Y-Offset [Percentile]" [120]

@advanced number torrents-grouped-height "GroupedView: Poster Max-Height [Pixels]" [200]

@advanced number torrents-list-poster-column-width "ListView: Poster Column Width [Pixels]" [400]
@advanced number torrents-list-hover-poster-width "ListView: Hover Poster Max-Width [Pixels]" [800]
@advanced number torrents-list-hover-poster-x-offset "ListView: Hover Poster X-Offset [Percentile]" [27]
@advanced number torrents-list-hover-poster-y-offset "ListView: Hover Poster Y-Offset [Percentile]" [50]


==/UserStyle== */

@-moz-document domain('clearjav.com') {
    :root {
        /* Global Variables */

        --randomjav-height: /*[[randomjav-height]]*/px;
        --randomjav-bg-color: /*[[randomjav-bg-color]]*/;
        --randomjav-cover-size: /*[[randomjav-cover-size]]*/;
        --randomjav-font-size: /*[[randomjav-font-size]]*/pt;
        --randomjav-opacity: /*[[randomjav-opacity]]*/%;

        --torrents-hover-size: /*[[torrents-hover-size]]*/px;
        --torrents-hover-x-offset: /*[[torrents-hover-x-offset]]*/%;
        --torrents-hover-y-offset: /*[[torrents-hover-y-offset]]*/%;

        --torrents-list-poster-column-width: /*[[torrents-list-poster-column-width]]*/px;
        --torrents-list-hover-poster-width: /*[[torrents-list-hover-poster-width]]*/px;
        --torrents-list-hover-poster-x-offset: /*[[torrents-list-hover-poster-x-offset]]*/%;
        --torrents-list-hover-poster-y-offset: /*[[torrents-list-hover-poster-y-offset]]*/%;

        --torrents-grouped-height: /*[[torrents-grouped-height]]*/px;
    }

    /* ========== RandomJAV ========== */

    div.random__media {
        height: var(--randomjav-height);

        /* Dropdown selected columns */
        /*[[randomjav-columns]]*/

    }

    div.random__media > a {
        background-size: var(--randomjav-cover-size) !important;
        background-color: var(--randomjav-bg-color);
        opacity: var(--randomjav-opacity);
    }

    div.random__media > a > div {
        color: #eeeeee;
        background: #00000075;
        font-size: var(--randomjav-font-size);
        padding: 1px;
    }


    /* ========== Hover Cover ========== */
    /* List + Grouped: The cover that appears when hovering over the torrent title */

    div.torrent-search--hover__info {
        left: var(--torrents-hover-x-offset) !important;
        top: var(--torrents-hover-y-offset) !important;
        z-index: 10;
        width: unset;
        height: unset;
    }

    div.torrent-search--hover__info .poster img {
        max-width: var(--torrents-hover-size);
        max-height: var(--torrents-hover-size);
        height: unset;
        width: unset;
    }


    /* ========== Grouped View ========== */

    /* --- Poster Size --- */
    header.torrent-search--grouped__header {
        height: unset !important;
        max-height: var(--torrents-grouped-height);
    }

    a.torrent-search--grouped__poster > img {
        height: unset;
        max-height: var(--torrents-grouped-height);

    }


    /* ========== List View ========== */

    /* --- Poster Column --- */
    tr.torrent-search--list__row {

        grid-template-columns: var(--torrents-list-poster-column-width) 100px 1fr 150px 68px 100px 50px 50px 50px 120px;

        @media (width < 768px) {
            /* mobile devices */
            grid-template-columns: var(--torrents-list-poster-column-width) repeat(11,1fr);
        }

    }

    img.torrent-search--list__poster-img {
        width: calc(var(--torrents-list-poster-column-width) - 10px);
        height: unset;

        @media (width < 768px) {
            /* mobile devices */
            width: var(--torrents-list-poster-column-width);
        }
    }

    /* --- Hover Poster --- */

    div.meta__poster-popup {
        top: var(--torrents-list-hover-poster-y-offset);
        left: var(--torrents-list-hover-poster-x-offset);
    }

    div.meta__poster-popup-card {
        width: auto;
    }

    div.meta__poster-popup-backdrop {
        height: unset;
    }

    div.meta__poster-popup-content {
        width: auto;
        min-width: 0px;
        max-width: var(--torrents-list-hover-poster-width);
    }

    div.meta__poster-popup-backdrop > img {
        max-width: var(--torrents-list-hover-poster-width);
        width: auto;
        height: auto;
    }

}
