/* ==UserStyle==
@name       ClearJAV - 📷 PicturePlumper
@version    1.9
@author     WirlyWirly
@namespace  https://github.com/WirlyWirly
@description Customize the displayed size of torrent images!

@updateURL   https://raw.githubusercontent.com/WirlyWirly/UserScripts/main/Trackers/ClearJAV/PicturePlumper.user.css?raw=true
@homepageURL https://github.com/WirlyWirly/UserScripts/blob/main/Trackers/ClearJAV/PicturePlumper.user.css
@supportURL  https://clearjav.com/forums/topics/134

@advanced number search-results-width "Search Max-Width [Pixels]" [1800]
@advanced text header-randomtorrents "🔽 Random Torrents 🔽" 'Random Torrents Options'
@advanced number randomtorrents-height "Table Height [Pixels]" [850]
@advanced dropdown randomtorrents-columns "Table Columns" {
    Option3 "3" <<<EOT
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); EOT;
    Option2 "2" <<<EOT
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); EOT;
    Option1 "1" <<<EOT
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr); EOT;
}
@advanced dropdown randomtorrents-cover-size "Cover Size" {
    Option1 "Contain" <<<EOT
    contain EOT;
    Option2 "Fill" <<<EOT
    cover EOT;
}
@advanced number randomtorrents-font-size "Font Size [Point]" 10
@advanced color randomtorrents-bg-color "Table Background Color" #000000
@advanced number randomtorrents-opacity "Cover Opacity [Percentile]" [100,0,100]

@advanced text header-listview "🔽 List 🔽" 'List Options'
@advanced number torrents-list-poster-column-width "Poster Column Width [Pixels]" [400]
@advanced number torrents-list-hover-poster-width "Hover Poster Max-Width [Pixels]" [800]
@advanced number torrents-list-hover-poster-x-offset "Hover Poster X-Offset [Pixels]" [0]
@advanced number torrents-list-hover-poster-y-offset "Hover Poster Y-Offset [Pixels]" [0]

@advanced text header-groupedview "🔽 Group 🔽" 'Group Options'
@advanced number torrents-grouped-height "Poster Max-Height [Pixels]" [200]

@advanced text header-both "🔽 List & Group 🔽" 'List & Group Options'
@advanced dropdown both-hover-cover-enabled "Hover Cover Enabled" {
    Option1 "True" <<<EOT
    visible EOT;
    Option2 "False" <<<EOT
    hidden EOT;
}
@advanced number both-hover-cover-size "Hover Cover Max-Size [Pixels]" [600]
@advanced number both-hover-cover-x-offset "Hover Cover X-Offset [Percentile]" [65]
@advanced number both-hover-cover-y-offset "Hover Cover Y-Offset [Percentile]" [120]

==/UserStyle== */

@-moz-document regexp("https?://(clearjav|bitporn)\.\w+.*") {
    :root {
        /* Global Variables */

        --search-results-width: /*[[search-results-width]]*/px;

        /* RandomJAV */
        --randomtorrents-height: /*[[randomtorrents-height]]*/px;
        --randomtorrents-bg-color: /*[[randomtorrents-bg-color]]*/;
        --randomtorrents-cover-size: /*[[randomtorrents-cover-size]]*/;
        --randomtorrents-font-size: /*[[randomtorrents-font-size]]*/pt;
        --randomtorrents-opacity: /*[[randomtorrents-opacity]]*/%;

        /* List View */
        --torrents-list-poster-column-width: /*[[torrents-list-poster-column-width]]*/px;
        --torrents-list-hover-poster-width: /*[[torrents-list-hover-poster-width]]*/px;
        --torrents-list-hover-poster-x-offset: /*[[torrents-list-hover-poster-x-offset]]*/px;
        --torrents-list-hover-poster-y-offset: /*[[torrents-list-hover-poster-y-offset]]*/px;

        /* Grouped View */
        --torrents-grouped-height: /*[[torrents-grouped-height]]*/px;

        /* Hover Cover: The cover that is displayed when hovering over the torrent title */
        --both-hover-cover-enabled: /*[[both-hover-cover-enabled]]*/;
        --both-hover-cover-size: /*[[both-hover-cover-size]]*/px;
        --both-hover-cover-x-offset: /*[[both-hover-cover-x-offset]]*/%;
        --both-hover-cover-y-offset: /*[[both-hover-cover-y-offset]]*/%;

    }

    section.torrent-search__results {
        max-width: var(--search-results-width);
        margin: auto;
    }

    /* ========== Random Torrents ========== */

    div.random__media {
        height: var(--randomtorrents-height);

        /* Dropdown selected columns */
        /*[[randomtorrents-columns]]*/

    }

    div.random__media > a {
        background-size: var(--randomtorrents-cover-size) !important;
        background-color: var(--randomtorrents-bg-color);
        opacity: var(--randomtorrents-opacity);
    }

    div.random__media > a > div {
        color: #eeeeee;
        background: #00000075;
        font-size: var(--randomtorrents-font-size);
        padding: 1px;
    }


    /* ========== Hover Cover ========== */
    /* List + Grouped: The cover that appears when hovering over the torrent title */

	td.torrent-search--list__overview:hover div.torrent-search--hover__info, div.torrent-search--grouped__title-name:hover div.torrent-search--hover__info {
        visibility: var(--both-hover-cover-enabled) !important;
	}

    div.torrent-search--hover__info {
        border-radius: 6px;
        box-shadow: 0px 0px 10px #000000;
        height: unset;
        left: var(--both-hover-cover-x-offset) !important;
        max-height: var(--both-hover-cover-size);
        max-width: var(--both-hover-cover-size);
        padding: unset;
        top: var(--both-hover-cover-y-offset) !important;
        width: unset;
        z-index: 10;
        transform: translateY(-100%) scale(1.0);
        transition: transform .2s ease-in-out,opacity .5s ease-in-out;

    }

    div.torrent-search--hover__info .poster img {
        height: unset;
        max-height: var(--both-hover-cover-size);
        max-width: var(--both-hover-cover-size);
        width: unset;
    }


    /* ========== Grouped View ========== */

    /* --- Poster Size --- */
    header.torrent-search--grouped__header {
        height: unset !important;
        max-height: var(--torrents-grouped-height);
    }

    a.torrent-search--grouped__poster > img {
        height: unset;
        max-height: var(--torrents-grouped-height);

    }


    /* ========== List View ========== */

    /* --- Poster Column --- */
    tr.torrent-search--list__row {

        grid-template-columns: var(--torrents-list-poster-column-width) 100px 1fr 150px 68px 100px 50px 50px 50px 120px;

        @media (width < 768px) {
            /* mobile devices */
            grid-template-columns: var(--torrents-list-poster-column-width) repeat(11,1fr);
        }

    }

    img.torrent-search--list__poster-img {
        border-radius: 5px;
        height: unset;
        width: calc(var(--torrents-list-poster-column-width) - 10px);

        @media (width < 768px) {
            /* mobile devices */
            width: var(--torrents-list-poster-column-width);
        }
    }

    /* --- Hover Poster --- */

    div.meta__poster-popup {
        border-radius: 6px;
        box-shadow: 0px 0px 10px #000000;
        left: calc(var(--torrents-list-poster-column-width) + var(--torrents-list-hover-poster-x-offset));
        top: calc(50% + var(--torrents-list-hover-poster-y-offset));
        transform: translate(65px, -50%);
    }

    div.meta__poster-popup-card {
        border-radius: 6px;
        width: auto;
    }

    div.meta__poster-popup-backdrop {
        height: unset;
    }

    div.meta__poster-popup-backdrop-overlay {
        background: unset;
    }
    div.meta__poster-popup-content {
        width: auto;
        min-width: 0px;
        max-width: var(--torrents-list-hover-poster-width);
    }

    div.meta__poster-popup-backdrop > img {
        max-width: var(--torrents-list-hover-poster-width);
        width: auto;
        height: auto;
    }

    div.meta__poster-popup-header h3, div.meta__poster-popup-header span.meta__poster-popup-year {
        font-size: 16px;
    }

}
